<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <title>Spider Shoppables</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="logo">
      <img src="images/banner.png" class="banner">
    </div>
    <br>
    <div class="products">
      <img src="images/duo_jumper_hoodie.png" class="items" onclick="window.open('https://www.amazon.com/dp/B0CBSYK5HW')">
      <img src="images/duo_jumper_iphone.png" class="items" onclick="window.open('https://www.amazon.com/dp/B0CBT1N5D4')">
      <img src="images/duo_jumper_popsocket.png" class="items" onclick="window.open('https://www.amazon.com/dp/B0CBNNDC1R')">
      <img src="images/duo_pattern_iphone.png" class="items" onclick="window.open('https://www.amazon.com/dp/B0CBNNCYN9')">
      <img src="images/teal_jumper_iphone.png" class="items" onclick="window.open('https://www.amazon.com/dp/B0CBNKVHWR')">
      <img src="images/teal_jumper_popsocket.png" class="items" onclick="window.open('https://www.amazon.com/dp/B0CBNKD4QS')">
    </div>
  </body>
</html>
