<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <title>Spider Shoppables</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="logo">
      <img src="images/banner.png">
    </div>
    <br>
    <div class="products">
      <img src="images/duo_jumper_hoodie.png">
      <img src="images/duo_jumper_iphone.png">
      <img src="images/duo_jumper_popsocket.png">
      <img src="images/duo_pattern_iphone.png">
      <img src="images/teal_jumper_iphone.png">
      <img src="images/teal_jumper_popsocket.png">
    </div>
  </body>
</html>
