body {
  background-color: gainsboro;
  margin: 4%;
}

.banner {
  padding-left: 4%;
  max-width: 36%;
  max-height: 30%;
}

.products {
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-self: center;
  justify-content: center;
  max-height: 20%;
  max-width: 70%;
}

.items {
  margin: 1% 4% 3% 4%;
  max-width: 18%;
  max-height: 10%;
}

.items:hover {
  opacity: 20%;
  border: solid;
  border-color: darkgreen
}

.items:active {
  opacity: 80%;
  border: dash;
  border-color: darkgray;
}