body {
  background-color: gainsboro;
  margin: 4%;
}

.banner {
  padding-left: 4%;
  max-width: 36%;
  max-height: 30%;
}

.products {
  border-style: outset;
  background-color: whitesmoke;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-self: center;
  justify-content: center;
  max-height: 40%;
  max-width: 70%;
  padding: 2% 0% 2% 0%;
}

.items {
  margin: 2% 4% 2% 4%;
  max-width: 18%;
  max-height: 10%;
  border-style: outset;
  border-width: 1px;
  border-color: darkgray;
}

.items:hover {
  opacity: 20%;
  border: solid;
  border-color: darkgreen;
  cursor: pointer;
}

.items:active {
  opacity: 80%;
  border: dash;
  border-color: darkgray;
}